<section class="pt-3 pb-2 mb-3">
    <h2>{{title}}</h2>
    <p></p>
    <form action="/templates" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1"  name="document">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>